Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
ex = ['img', [1,2], 5.0923, (3,"ab")]

In [2]:
for i in ex:
    print(type(i))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

i. str
ii. str
iii. list
iv. float

Q3. Explain the use of the following operators using an example:
(i) / : used to divide any two type of numbers
(ii) % : performs mod operation i.e gives remainder
(iii) // : performs integer division on two numbers
(iv) ** : power of operator

In [11]:
5/2

2.5

In [12]:
5%2

1

In [13]:
5//4

1

In [14]:
5**3

125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [16]:
l = ['img', [1,2], 5.0923, (3,"ab"),5.6,True,None,'raju',{1,2,3}, False]

In [17]:
for j in l:
    print(type(j))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>
<class 'str'>
<class 'set'>
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
a = int(input())
b = int(input())
count = 0
while a%b == 0:
    a  = a/b
    count  = count + 1
print(count)

 56
 2

3

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [7]:
my_list = []

for num in range(0,25):
    my_list.append(num)

for i  in my_list:
    if i%3 == 0:
        print(i)
        print("is divisible by 3")

0
is divisible by 3
3
is divisible by 3
6
is divisible by 3
9
is divisible by 3
12
is divisible by 3
15
is divisible by 3
18
is divisible by 3
21
is divisible by 3
24
is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable datatypes are those which can be edited
    ex : list,dict
ImMutable datatypes are those which cannot be edited   
    ex : string,tuple

In [9]:
l_ex = [ 1,2,3]
l_ex.append(3)

In [11]:
l_ex2 = (3,"ab",67)
l_ex2.append(4) # throws error

AttributeError: 'tuple' object has no attribute 'append'